<div class='container'>
	<hr>
	<div class='row'>
		<div class="col-md-7">
			<div class='user_image'>
				<%= image_tag @user.image_url, class: 'small_avatar'%>
			</div>
			<a><span><%= @user.name %></span></a>
			<div>
				<%= simple_format @user.description %>
			</div>
		</div>
	</div>
	<%= link_to '修改资料', edit_user_path(@user)  %>
</div>