<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-md-10">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>感谢您使用“饕餮”！</h2>
            <p>“饕餮”网希望给您更好的美食体验，让吃货有属于自己到网络交流平台！</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2><%= render User.find_by_email('zyy@gmail.com') %></h2>
              <p>爱代码，爱网络，爱可乐咖啡。<br>爱晚起，也爱工作到深夜。<br>爱沉默，也爱分享，爱奋斗，也不忘享受生活。<br>我擅长技术，崇尚简单的快乐与幸福。<br>我并不随身带盐，我是一名程序员。
              </p>
            </div>
            <div class="col-md-6">
              <h2><%= render User.find_by_email('lizihao945@gmail.com') %></h2>
              <p>爱代码，爱网络，爱可乐咖啡。<br>爱晚起，也爱工作到深夜。<br>爱沉默，也爱分享，爱奋斗，也不忘享受生活。<br>我擅长技术，崇尚简单的快乐与幸福。<br>我并不随身带盐，我是一名程序员。
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2><%= render User.find_by_email('lyc@gmail.com') %></h2>
              <p>爱代码，爱网络，爱可乐咖啡。<br>爱晚起，也爱工作到深夜。<br>爱沉默，也爱分享，爱奋斗，也不忘享受生活。<br>我擅长技术，崇尚简单的快乐与幸福。<br>我并不随身带盐，我是一名程序员。
              </p>
            </div>
            <div class="col-md-6">
              <h2><%= render User.find_by_email('kq@gmail.com') %></h2>
              <p>爱代码，爱网络，爱可乐咖啡。<br>爱晚起，也爱工作到深夜。<br>爱沉默，也爱分享，爱奋斗，也不忘享受生活。<br>我擅长技术，崇尚简单的快乐与幸福。<br>我并不随身带盐，我是一名程序员。
              </p>
            </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
    </div><!--/.container-->