<div id="carousel-index" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	<div class="item active">
      <%= image_tag 'food0.jpg' %>
      <div class="carousel-caption">
      <h3>法国大餐</h3>
      <p>想要准备一场法国大餐,著名菜肴法式焗蜗牛您会做吗？</p>
      </div>
    </div>
  	<div class="item">
      <%= image_tag 'food1.jpg' %>
      <div class="carousel-caption">
      <h3>日式料理</h3>
      <p>您有拿手绝活，不如与我们分享一番？</p>
      </div>
    </div>
  	<div class="item">
      <%= image_tag 'food2.jpg' %>
      <div class="carousel-caption">
      <h3>中式小炒</h3>
      <p>想知道这个令人垂涎三尺的蘑菇是如果做成的吗？</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- START THE FEATURETTES -->
  <div class='container'>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">没错，您可以在这里发现新大陆！<br /><span class="text-muted">自己看看吧，有多少您没见过的美食？</span></h2>
          <p class="lead">饕餮网的美食条目来自全世界各族人民的贡献，这是给您准备的美食盛宴！如果您对某种美食有读到见解，如果您能将家常菜吃出花样，不妨加入饕餮网，让全世界像你一样会吃。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">这里有你做不完的精品菜谱... <span class="text-muted">他们会让你爱上烹饪</span></h2>
          <p class="lead">饕餮网的用户十分愿意与您分享他们的做菜经验，如果您也是一位明星大厨，快来饕餮网告诉大家你的绝招吧！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">不喜欢烹饪也没关系！
          <p class="lead">网友们已经精心挑选了具有代表性餐厅供您选择。如果您是朋友眼中的吃货，那快加入到饕餮网的行列中来吧，尽情分享您的没事经验！</p>
        </div>
      </div>

      <hr class="featurette-divider">
  </div>
      <!-- /END THE FEATURETTES -->