<div class='container'>
  <h2>那些食客的天堂</h2>
  <hr class="title-divider">
  <div class="row">
    <% 4.times do |tmp| %>
    <div class="col-md-3">
      <% @restaurants.each do |restaurant| %>
        <% if (restaurant.id - @restaurants.first.id) % 4 == tmp %>
          <%= render restaurant %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= link_to '新餐厅', new_restaurant_path, class: 'btn btn-lg btn-primary', role: 'button' %></div>
