<div class='container'>
  <h2>精选  菜谱</h2>
  <hr class="title-divider">
  <div class="row">
    <% 4.times do |tmp| %>
    <div class="col-md-3">
      <% @cookbooks.each do |cookbook| %>
        <% if (cookbook.id - @cookbooks.first.id) % 4 == tmp %>
          <%= render cookbook %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= link_to '新菜谱', new_cookbook_path, class: 'btn btn-lg btn-primary', role: 'button' %></div>