// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food {
	box-shadow: 2px 2px 3px #aaaaaa;
	padding: 15px 15px 0;
	background-color: #fff;
	margin-bottom: 20px;
}

.food_img img {
	width: 230px;
	height: 170px;
}

.food_info {
	.food_name {
		margin-top: 10px;
		text-align: center;
	}
}

.food_main_user_info {
	color: #999;
	height: 40px;
}

.food_like_comment_div {
	height: 20px;
	.food_like_comment {
		color: #999;
		float: right;
	}
}

.food_image {
	height: 360px;
	width: 360px;
}