// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.food_img img {
	width: 250px;
	height: 170px;
}

.food_info {
	text-align: center;
	height: 120px;
}